/*======================
404 page
=======================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-404 {
  background: #fff;
  font-family: "Tilt Neon", sans-serif;
}

.page-404 img {
  width: 100%;
}

.container-404 {
  text-align: center;
  padding-top: 20px;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 375px;
  background-position: center;
}

.fa-hand {
  color: #ffd43b;
}

.fa-hand:hover {
  animation: shake 0.5s infinite; /* Khi hover, áp dụng hiệu ứng shake trong 0.5 giây */
}

@keyframes shake {
  0% { transform: rotate(0); } /* Bắt đầu từ vị trí ban đầu */
  25% { transform: rotate(-5deg); } /* Di chuyển sang trái */
  50% { transform: rotate(5deg); } /* Di chuyển sang phải */
  75% { transform: rotate(-5deg); } /* Di chuyển sang trái */
  100% { transform: rotate(0); } /* Trở lại vị trí ban đầu */
}

.container-404 h1 {
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 300;
}

.container-404 h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.container-404 p {
  font-weight: 300;
}

.raise {
  --color: #000000;
  --hover: #37ec49;
}

.link-404 {
  margin-top: 20px;
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  line-height: 1;
  border: 2px solid;
  color: var(--color);
  font-weight: 600;
  transition: 0.25s;
}

.text-center {
  text-align: center;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.link-404:hover, .link-404:focus {
  border-color: var(--hover);
  color: var(--hover);
}