<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google fonts link here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Fontawesome link here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS link here -->
    <link rel="stylesheet" href="https://sever-social-media-app.onrender.com/static/style.css">
    <title>VNPIC</title>
</head>
<body>

    <div class="modal show">
        <div class="modal-overlay"></div>
        <div class="pop-up">
            <div class="pop-up-img-wrapper">
                <img src="https://sever-social-media-app.onrender.com/static/processing.jpg" alt="" class="pop-up-img">
            </div>
            <div style="display: flex;">
                <h3 class="pop-up-title">Tải ứng dụng VNPIC</h3>
            </div>
            <h5 style="text-align: center;" class="pop-up-subtitle">Phiên bản ứng dụng di động cho bạn một trải nghiệm mượt mà</h5>
            <button style="margin-bottom: 10px;" onclick="closeModel()" class="btn-pop-up">Tải VNPIC trên cửa hàng của bạn</button>
            <button onclick="closeModel()" class="btn-pop-up">Bỏ qua</button>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="card__header">
                    <div class="card__header-avatar">
                        <img src="https://pbs.twimg.com/profile_images/1707997423115591680/hLINKYn__bigger.jpg" alt="" class="avatar-img">
                    </div>
                    <div class="card__header-info">
                        <div class="card__header-info-top">
                            <div class="card__header-author">
                                <span id="authorName" class="card__header-author-name"></span>
                            </div>
                            <div class="card__header-actions"><i class="fa-solid fa-ellipsis"></i></div>
                        </div>
                        <div class="card__header-info-bottom">
                            <span class="card__header-time">1h</span>
                        </div>
                    </div>
                </div>
                <div class="card__body">
                    <h4 id="content" class="card__body-desc">Green flag to those people who updates you because they know how you over thinking while waiting for them</h4>
                    <div id="mediaContainer" style="display: flex;flex-direction: row;gap: 10px;overflow: hidden;" class="card__body-media">
                    </div>
                </div>
                <div class="card__footer">
                    <div class="card__footer-btn">
                        <ion-icon class="card__footer-icon" name="star-outline"></ion-icon>
                        <span id="reactionCount">1910</span>
                    </div>
                    <div class="card__footer-btn">
                        <ion-icon class="card__footer-icon" name="chatbubble-outline"></ion-icon>
                        <span id="cmtCount">183</span>
                    </div>
                    <div class="card__footer-btn">
                        <ion-icon class="card__footer-icon" name="repeat-outline"></ion-icon>
                        <span>68</span>
                    </div>
                    <div class="card__footer-btn">
                        <ion-icon class="card__footer-icon" name="paper-plane-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ionicons link here -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<script>
    const closeModel= ()=>{
        document.querySelector('.modal').classList.remove('show');
        console.log('close');   
    }
    
    const base_url = "http://localhost:8000";
  //  const base_url = "https://sever-social-media-app.onrender.com";
    const authorName = document.getElementById('authorName');
    const content = document.getElementById('content');
    const mediaContainer = document.getElementById('mediaContainer');
    const reactionCount = document.getElementById('reactionCount');
    const cmtCount = document.getElementById('cmtCount');
    const id = "<%= id %>";
    
    fetch(`${base_url}/post/get_post_public/${id}`)
      .then((response) => response.json())
      .then((data) => {
        console.log(data.data);
        const postData = data.data;
        authorName.innerText = postData.author.userName;
        content.innerText = postData.body;
        postData.media.forEach(media=>{
            const img = document.createElement('img');
            img.src = media.link;
            mediaContainer.appendChild(img);
        });
        cmtCount.innerText = postData.comments.length;
        reactionCount.innerText = postData.reactions.length;
      }).catch(err=>console.log(err));
  </script>
</html>